body {
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    text-shadow: 0 0 1px #ffffff;
    color: #222222;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

#game-cnt {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #222222;
    background-color: #FFE8D6;

}

#babystatus-cnt {

    display: flex;
    justify-content: center;
    margin: 2px;

}

.babystatus-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    text-align: center;
    padding: 3px;
    margin: 0;
    background-color: #FFE8D6;

}

#babystatus-emoji {
    font-size: 70px;
    margin: 0;
}

.action-btn {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
    padding: 8px;
    width: 90%;
    height: 40px;
    display: block;
    margin: 5px auto;
    background-color: #CB997E;
    color: #222222;
    border: none;
    border-radius: 5px;

}

.action-btn:disabled {
    background-color: red;
}

.action-btn:hover:not([disabled]) {
    font-size: 24px;
    border-bottom: 2px solid #6B705C;
    border-right: 2px solid #6B705C;
}

.parameters-row {
    display: flex;
    justify-content: center;
}

.parameters-card {
    width: 50%;
    border: 1px solid #222222;
    margin: 2px;
}

.parameters-title {
    text-align: center;
    background-color: #B7B7A4;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #222222;

}

.parameters-value {
    background-color: grey;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.parameters-inner {
    display: flex;
    margin: 0;
    padding: 5px;
    background-color: #FFE8D6;
}

.parameters-msg {
    background-color: #FFE8D6;
    margin: 2px;
    padding: 5px;
    height: auto;
}

.progress-cnt {
    width: 100%;
    background-color: grey;
}

.progress-bar {
    width: 50%;
    height: 40px;
    background-color: green;
}

#hungry-progress, #windy-progress, #tired-progress {
    width: 1%;
}

